@using Microsoft.AspNetCore.Mvc.Localization
@model MathWars.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@inject IViewLocalizer localizer

<div class="container">
<div class="row">
    <div class="col-9">
        <div class="ProblemsHeaderBlock">
            @if (ViewData["SearchString"] != null)
                {
                    <span>Top Rated. Searching for: @ViewData["SearchString"]<a style="margin-left: 5px;" asp-controller="Home" asp-action="Index">Go to list</a></span>
                }
                else
                {
                    <span>@localizer["TopRated"]</span>
                }
            <form autocomplete="off" asp-action="Index" method="get" class="form-inline my-2 my-lg-0 ProblemsHeaderActions">
                <input class="form-control form-control-sm mr-sm-2 ProblemsTableSearch" name="SearchString" type="search" placeholder="@localizer["SearchPlaceholder"]" aria-label="Search">
                <button style="height: 15px; line-height: 0.1;" type="submit" class="btn btn-sm btn-light">@localizer["SearchButton"]</button>
            </form>
        </div>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">@localizer["HomeTable.Title"]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TopicSortParam"]">@localizer["HomeTable.Topic"]</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["RatingSortParam"]">@localizer["HomeTable.Rating"]</a>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.TopRatedTasks) {
                <tr>
                    <td>
                        <a asp-controller="WarTask" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Topic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-3">
        <strong>@localizer["Home.LatestTasks"]</strong>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>
                    @localizer["Home.LatestTasksTable.Name"]
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.LatestTasks)
            {
                <tr>
                    <td>
                        <a asp-controller="WarTask" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <strong>@localizer["Home.TagsCloud"]</strong>
        <br/>
        @foreach (var tag in Model.Tags)
        {
            <a asp-action="Index" asp-route-searchFor="tags" asp-route-searchString="@tag" class="badge badge-light">#@tag</a>
        }
    </div>
</div>
</div>