@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@model MathWars.Models.WarTask
@inject UserManager<AppUser> UserManager;
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0-rc.2/jquery-ui.min.js" ></script>
<br />
<h3>@localizer["CreateHeader"]</h3>
<div>
    <form id="mathtask-form" asp-action="Create" type="post" autocomplete="off" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">@localizer["TitlePl"]</label>
            <input asp-for="Title" required data-val-required="The field is require111d." class="form-control form-control-sm" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">@localizer["TopicPl"]</label>
            <select class="form-control" asp-for="Topic" required>
                <option>@localizer["Topic1"]</option>
                <option>@localizer["Topic2"]</option>
            </select>
        </div>
        <div class="form-group">
            <div class="mdeContainer">
                <label for="editor">@localizer["DescPl"]</label>
                <textarea asp-for="Body" placeholder='@localizer["DescPl"]' id="editor" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control form-control-sm" id="taskTagsInp" name="taskTags" />
        </div>
        <label class="control-label">@localizer["TagsPl"]</label>
        <button id="addTagsRowBtn" class="btn btn-link float-right" type="button">@localizer["AddRow"]</button>
        <div class="form-row">
        <div class="input-row autocomplete"></div>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control form-control-sm" id="rgaInp" name="taskRightAnswers"/>
        </div>
        <label class="control-label">@localizer["AnswersPl"]</label>
        <button id="addRightAnswersRowBtn" class="btn btn-link float-right" type="button">@localizer["AddRow"]</button>
       <div class="form-row">
       <div class="rga-input-row autocomplete"></div>
       </div>
        <br />
        <div class="form-group">
            <div id="drop-area">
                <p>@localizer["FilesPl"]</p>
                <div class="form-group">
                    <input type="file" id="fileElem" name="photos" multiple="multiple" accept=".jpg, .jpeg, .png" onchange="handleFiles(this.files)"/>
                </div>
                <div id="gallery"></div>
            </div>
            <input name="userName" type="hidden" value="@ViewData["userName"]" />
        </div>
        <div class="form-group float-right">
            <input type="button" value='@localizer["CreateBtn"]' id="SubmitBtn" class="btn btn-success" />
        </div>
    </form>
</div>
<script src="~/js/myJs.js" asp-append-version="true"></script>
<script src="~/js/tags_autocomplete.js" asp-append-version="true"></script>
<script src="~/js/dragndrop.js"></script>
<script>
        $(document).ready(function() {
            let tagsData = $.ajax('/Wartask/GetTagsList', {
                contentType: "application/json",
                    dataType: "json",
                    type: "GET",
                    global: false,
                    async:false,
                    success: function(response) {
                        return response;
                },
                error: function(data) {
                    alert(data);
                }
            }).responseText;
            let inputTagsCount = 0;
            let inputRgaCount = 0;
            let tagsValue = "";
            let rgaValue = "";
            for (let i = 0;i < 4;i++) {
                let el = $('<div style="position: relative; display: inline-block;"> <input style="width: 7em; margin-left: 5px; margin-top: 5px;" class="form-control form-control-sm" name="tags" id="tagsInputRow-'+inputTagsCount+'" /></div>')
                $(".input-row").append(el);  
                inputTagsCount += 1;
            }
            for (let i = 0;i < 4;i++) {
                $(".rga-input-row").append('<div style="position: relative; display: inline-block;"><input required class="form-control form-control-sm" style="width: 7em; margin-left: 5px; margin-top: 5px;" id="rgaInputRow-"'+inputRgaCount+' /></div>');
                inputRgaCount += 1;
            }
            $("#addTagsRowBtn").click(() => {
                for (let i = 0;i < 4;i++) {
                    let el = $('<div style="position: relative; display: inline-block;"><input class="form-control form-control-sm" style="width: 7em; margin-left: 5px; margin-top: 5px;" name="tags" id="tagsInputRow-'+inputTagsCount+'" /></div>')
                    .on('click', (function(e) { 
                        $(this).autocomplete({
                                       source: JSON.parse(tagsData)
                        })
                    }));
                    $(".input-row").append(el);  
                    inputTagsCount += 1;
                }
            });
            $("#addRightAnswersRowBtn").click(() => {
                for (let i = 0;i < 4;i++) {
                    $(".rga-input-row").append('<div style="position: relative; display: inline-block;"><input class="form-control form-control-sm" required style="width: 7em; margin-left: 5px; margin-top: 5px;" id="rgaInputRow-"'+inputRgaCount+' /></div>');
                    inputRgaCount += 1;
                }
            });
            $("#SubmitBtn").click(() => {
                $('[id^=tagsInputRow]').each((i, item) => {
                    if(($(item).val()).length !== 0) {
                        tagsValue += ($(item).val())+";";
                    }
                });
                tagsValue = tagsValue.slice(0, -1);
                $("#taskTagsInp").val(tagsValue); 
                
                $('[id^=rgaInputRow]').each((i, item) => {
                    if(($(item).val()).length !== 0) {
                        rgaValue += ($(item).val())+";";
                    }
                });
                rgaValue = rgaValue.slice(0, -1);
                $("#rgaInp").val(rgaValue); 
                $("#mathtask-form").submit();
            });
            $("input[id^='tagsInputRow']").autocomplete({
                source: JSON.parse(tagsData)
             });
            // autocomplete(JSON.parse(tagsData));
        });
</script>

@* <script src="~/js/myJs.js"></script> *@
