@using Microsoft.AspNetCore.Mvc.Localization
@model MathWars.Models.WarTask
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<br />
<h3>@localizer["EditHeader"]</h3>
<div>
    <form asp-action="Edit" type="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label class="control-label">@localizer["TitlePl"]</label>
                        <input asp-for="Title" class="form-control form-control-sm" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">@localizer["TopicPl"]</label>
                        <select class="form-control" asp-for="Topic" required>
                            <option selected value="@Model.Topic">@Model.Topic</option>
                            <option>@localizer["Topic1"]</option>
                            <option>@localizer["Topic2"]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="mdeContainer">
                            <textarea asp-for="Body" placeholder='@localizer["DescPl"]' id="editor"></textarea>
                        </div>
                    </div>
        @* <div class="form-group"> *@
        @*     <label class="control-label">Tags</label> *@
        @*     <input class="form-control form-control-sm" /> *@
        @*     $1$ <span asp-validation-for="Title" class="text-danger"></span> #1# *@
        @* </div> *@
        @*         @if (Model.Tags != null) *@
        @*         { *@
        @*             var inputTagsCount = 0; *@
        @*             @foreach (var tag in Model.Tags) *@
        @*             { *@
        @*                 <input style="width: 7em; margin-left: 5px; margin-top: 5px;" id="tagsInputRow-@inputTagsCount" value="@tag.Name"/> *@
        @*                 inputTagsCount += 1; *@
        @*             } *@
        @*         } *@
        @*             <div class="form-group"> *@
        @*                  <label class="control-label">Right answers</label> *@
        @*                 <input class="form-control form-control-sm" /> *@
        @*                 $1$ <span asp-validation-for="Title" class="text-danger"></span> #1# *@
        @*             </div> *@
                    @* <div class="form-group"> *@
                    @*     $1$ <label class="control-label">Add images:</label> #1# *@
                    @*     $1$ <br /> #1# *@
                    @*     $1$ <input type="file" multiple/> #1# *@
                    @* </div> *@
                    <div class="form-group float-right">
                        <input type="submit" value='@localizer["CreateBtn"]' class="btn btn-success" />
                    </div>
    </form>
</div>

<script src="~/js/myJs.js" asp-append-version="true"></script>
