@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<MathWars.Models.WarTask>
@inject UserManager<AppUser> UserManager
@inject IViewLocalizer localizer


<div class="ProblemsHeaderBlock">
    @if (ViewData["SearchString"] != null)
    {
        <span>@localizer["ProblemsTableSearchingFor"] @ViewData["SearchString"]<a style="margin-left: 5px;" asp-controller="WarTask" asp-action="Index">@localizer["ProblemsTableGoToList"]</a></span>
    }
    else
    {
        <span>@localizer["ProblemsTableHeader"]</span>
    }
    <a class="ProblemsHeaderActions" asp-controller="WarTask" asp-route-userName="@UserManager.GetUserName(User)" asp-action="Create">@localizer["ProblemsTableNewTask"]</a>
    <form class="form-inline my-2 my-lg-0 ProblemsHeaderActions" autocomplete="off" asp-action="Index" method="get">
        <input class="form-control form-control-sm mr-sm-2 ProblemsTableSearch" name="SearchString" type="search" placeholder=@localizer["ProblemsTableSearchPlaceholder"] aria-label="Search">
        <button style="height: 15px; line-height: 0.1;" type="submit" class="btn btn-sm btn-light">@localizer["ProblemsTableSearchBtn"]</button>
    </form>
</div>
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">@localizer["ProblemsTableTitleCol"]</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["TopicSortParam"]">@localizer["ProblemsTableTopicCol"]</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["RatingSortParam"]">@localizer["ProblemsTableRatingCol"]</a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
    }
    </tbody>
</table>

<script src="https://use.fontawesome.com/1ecfd0bfb7.js"></script>