@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@model AppUser
@inject UserManager<AppUser> UserManager
@inject IViewLocalizer localizer

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/profile.css" />

<div class="card mb-3">
    <div class="card-body">
        <div class="profileFlexBlock">
            <div class="contentFlexBlock">
                <h2>@ViewData["userName"]</h2>
                <ul>
                    <li><strong>@localizer["solvedTasks"]: </strong>@Model.SolvedWarTasks.Count</li>
                    <li><strong>@localizer["createdTasks"]: </strong>@Model.CreatedWarTasks.Count</li>
                </ul>
                <div class="tableHead">
                </div>
                <div class="ProblemsHeaderBlock userTasksTable">
                    <span>@localizer["TableHeader"]</span>
                    <a class="ProblemsHeaderActions" asp-controller="WarTask" asp-route-userName="@ViewData["userName"]" asp-action="Create">@localizer["NewTask"]</a>
                </div>
                <table class="table table-striped table-sm userTasksTable">
                    <thead>
                        <tr>
                            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">@localizer["TableTitle"]</a></th>
                            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["TopicSortParam"]">@localizer["TableTopic"]</a></th>
                            <th>@localizer["TableActions"]</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (Model.CreatedWarTasks != null)
                    {
                        @foreach (var item in Model.CreatedWarTasks)
                        {
                            <tr>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Topic
                                </td>
                                <td>
                                    <a asp-controller="WarTask" asp-action="Details" asp-route-userName="@ViewData["userName"]" asp-route-id="@item.Id">@localizer["Details"]</a> |
                                    <a asp-controller="WarTask" asp-action="Edit" asp-route-userName="@ViewData["userName"]" asp-route-id="@item.Id">@localizer["Edit"]</a> |
                                    <a asp-controller="WarTask" asp-action="Delete" asp-route-userName="@ViewData["userName"]" asp-route-id="@item.Id">@localizer["Delete"]</a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
