@model IEnumerable<MathWars.Models.AppUser>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Admin Panel</h1>
    <div class="ProblemsHeaderBlock">
        <span>Users List</span>
    </div>
    <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>
                        <a>Id</a>
                    </th>
                    <th>
                        <a>UserName</a>
                    </th>
                    <th>
                        <a>Actions</a>
                    </th>
                    <th>
                        <a>Actions</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            <a>@item.Id</a>
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="EditRoles" asp-route-userid="@item.Id">Права доступа</a>
                        </td>
                        <td>
                            <a asp-action="Index" asp-controller="Profile" asp-route-userName="@item.UserName">Profile</a> |
                            @if (item.LockoutEnd == null || item.LockoutEnd <= DateTime.Now)
                            {
                                <a asp-action="BanUser" asp-controller="Admin" asp-route-userId="@item.Id">Ban</a>
                            }
                            else
                            {
                                <a asp-action="UnBanUser" asp-controller="Admin" asp-route-userId="@item.Id">UnBan</a>
                            }
                            <a asp-action="RemoveUser" asp-controller="Admin" asp-route-userId="@item.Id">Remove</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
    
    @* <table class="table table-striped display-5 table-responsive-sm" id="table"> *@
    @*     <thead> *@
    @*     <tr> *@
    @*         <th data-sort-method="none"> *@
    @*             <input type="checkbox" value="all" onClick="checkAll(this);"> *@
    @*         </th> *@
    @*         <th scope="col"> *@
    @*             @Html.DisplayNameFor(model => model.Id) *@
    @*         </th> *@
    @*         <th scope="col"> *@
    @*             @Html.DisplayNameFor(model => model.UserName) *@
    @*         </th> *@
    @*         <th scope="col"> *@
    @*             Actions *@
    @*         </th> *@
    @*         <th scope="col"> *@
    @*             Open *@
    @*         </th> *@
    @*     </tr> *@
    @*     </thead> *@
    @*     <tbody> *@
    @*     @foreach (var item in Model) *@
    @*     { *@
    @*         <tr> *@
    @*             <th> *@
    @*                 <input type="checkbox" name="isChecked" Id="item" value="@item.Id"> *@
    @*             </th> *@
    @*             <th> *@
    @*                 @item.Id *@
    @*             </th> *@
    @*             <th> *@
    @*                 @item.UserName *@
    @*             </th> *@
    @*             <th> *@
    @*                 <a class="btn btn-sm btn-primary" asp-action="EditRoles" asp-route-userid="@item.Id">Права доступа</a> *@
    @*             </th> *@
    @*             <th> *@
    @*                 <a class="text-dark" asp-action="Index" asp-controller="Profile" asp-route-userName="@item.UserName"> *@
    @*                     See profile *@
    @*                 </a> *@
    @*             </th> *@
    @*         </tr> *@
    @*     } *@
    @*     </tbody> *@
    @* </table> *@
</div>
</body>
</html>